<Router AppAssembly="@typeof(App).Assembly"  AdditionalAssemblies="new[] {typeof(KilnGod.BlazorWebGL.BasicCanvas).Assembly, typeof(KilnGod.BlazorWebGL.TestSample.Pages.BasicCanvasTest).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(KilnGod.BlazorWebGL.TestSample.Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(KilnGod.BlazorWebGL.TestSample.Shared.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
